@page
@model Pizza_StoreV2.Pages.GetAllPizzasModel
@{
    ViewData["Title"] = "GetAllPizzas";
}

<h1>Pizza catalog</h1>
<p>
    <a asp-page="CreatePizza">Create pizza</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pizzas)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        @item.PizzaId 
                    </td>
                    <td>
                        @item.Name 
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <a asp-page="EditPizza" asp-route-id="">Edit</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>