@page
@model Pizza_StoreV2.Pages.Pizzas.IndexModel
@{
    ViewData["Titel"] = "Index";
}
<h1>List of pizzas</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pizzas)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        @item.PizzaId
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                </tr>
            }

        }
    </tbody>
</table>