@page
@model Pizza_StoreV2.Pages.Customers.GetAllCustomersModel
@{
}
<h1>Customer catalog</h1>
<p>
    <a asp-page="CreateCustomer">Create customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Mobilnr.:
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        @item.CustomerId
                    </td>
                    <td>
                        @item.CustomerName
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.Email
                    </td>
                </tr>
            }
        }
    </tbody>
</table>